<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
  </div>
  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Email</div>
      <div>Age</div>
      <div>Happy?</div>
    </div>
    <%= render @users %>
  </div>
</div>

